body{
    width:100%;   /*寬度100%*/
    height:100%;
    text-align:center;  /*文字居中*/
    background-color:rgb(248, 227, 230);  /*背景顏色*/
}
.tag{
    margin-right:20px;  /*與右邊區塊間隔20像素*/
    cursor:pointer;  /*滑鼠游標設定*/
    letter-spacing:2px;   /*字元間距2像素*/
}
.current-tag{
    color:rgb(136, 79, 10);
    margin-right:20px;  /*與右邊區塊間隔20像素*/
    letter-spacing:2px;  /*字元間距2像素*/
    cursor:pointer;  /*滑鼠游標設定*/
}
.container{
    width:100%;
}
.head{
    font-weight:bold; /*文字粗體*/
    font-size:18px;  /*文字大小*/
    display:flex;   /*區塊並排*/
    line-height: 15px;  /*行高15像素*/
}
.head ul{
    list-style: none; /*清單樣式*/
    display:flex;  /*區塊並排*/
    margin:auto;  /*區塊置中*/
    
}
.nav{
    display:flex;
}
.box{
    width:300px;  /*格子寬度*/
    height:150px;  /*格子高度*/
    background-color:rgb(233, 188, 196);   /*格子背景顏色*/
    position:fixed;left:50%;top:50%;margin-left:-150px;   /*位置浮起且固定於左上方，將位置設定左邊及上方各50%再將區塊間距設為-150巷素，則格子置中*/
    border:1px solid rgb(233, 188, 196);  /*1像素橘色的邊框*/
    border-radius:5px;   /*格子圓角設定5像素*/
    box-shadow:0px 0px 5px #000000;  /*格子陰影*/
    color:rgb(38, 33, 107);
    display:none; /*透明設定 0為預設不顯示；1為預設顯示*/
}
.boxtitle{
    font-weight:bold;
    background-color:#eeeeee;
    height:30px;
    margin:auto;
    border-radius:2px;
    line-height:30px;
}
.boxinside{
    font-weight:bold;
    margin-top:30px;
    font-size:20px;
    color:rgb(19, 74, 177);
}
.btn{
    background-color:cornsilk;
    border-radius:5px;  /*邊框圓角5像素*/
    font-weight:bold;
    color:rgb(19, 74, 177);
    cursor:pointer;  /*滑鼠游標設定*/
}
.footer{
    background-color:rgba(195, 245, 236, 0.774);
    height:200px;
    width:100%;
    
    bottom:0;
}       
.fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
    margin-top: 10px;
}
.fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}
.hamber{
    margin-right: 100px;
    display:none;
   
}
.imgbox{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    margin:auto;    
    width:1200px; 
    
}
.img{
    margin-right: 10px;
    width:calc(25% - 50px);
    
}
.img img{
    width:100%;
    aspect-ratio: 16/9;
    margin-top: 30px;
}
@media screen and (min-width:600px) and (max-width:1201px){
    .imgbox{
        width:100%;    
    }
    .img{
        margin-right:10px;
        width:calc(45% - 50px);
    }
    .hamber{
        justify-content: right;
        display: none;
    }
    .head{
        font-size:15px;  /*文字大小*/   
        flex-wrap: wrap;
    }
   
}
@media screen and (max-width:600px) {
    .imgbox{
        width:100%;    
    }
    .img{
        margin-right:10px;
        width:calc(90% - 20px);
    }
    
    .hamber{
        display: block;
    }
    .head ul{
        display: none;
        position:absolute;
        top:40px;
        background-color: rgb(238, 204, 233);
        
    }
    .head ul li{
        text-align: center;
        margin-top:30px;
    }
    
    
}